{% extends 'base.html' %}

{% block content %}


<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript">
$(window).load(function() {
    $('#exemplomodal').modal('show');
});
</script>

<link rel="stylesheet" href="{{ url_for('static', filename="css/bootstrap.min.css" ) }}">
<!-- Custom styles for this template -->
<link rel="stylesheet" href="{{ url_for('static', filename="css/cadastro.css" ) }}">


<script>    
        function mascara() {
            if (document.formcad.cpf.value.length == 3)
                document.formcad.cpf.value += ".";
            if (document.formcad.cpf.value.length == 7)
                document.formcad.cpf.value += ".";
            if (document.formcad.cpf.value.length == 11)
                document.formcad.cpf.value += "-";
            if (document.formcad.telefone.value.length == 0)
                document.formcad.telefone.value += "(";
            if (document.formcad.telefone.value.length == 3)
                document.formcad.telefone.value += ")";
            if (document.formcad.telefone.value.length == 9)
                document.formcad.telefone.value += "-";
        }   
</script>
<script language='JavaScript'>
        function SomenteNumero(e){
            var tecla=(window.event)?event.keyCode:e.which;   
    if((tecla>47 && tecla<58)) return true;
   else{
        if (tecla==8 || tecla==0) return true;
        else  return false;
        }
    }
</script>

    <form action="{{url_for('cadastroalert')}}" method="POST" name="formcad" id="formcad" class="container cont4 col col-sm-12 col-md-6 col-lg-6">
            <div class="form-row">
                    <div class="col col-sm-12 col-md-6">
                      <label>Usuário:</label>
                      <input type="text" name="username" class="form-control" placeholder="Digite um usuário" required>
                    </div>
                    <div class="col col-sm-12 col-md-6 mb-3">
                      <label>Senha:</label>
                      <input type="text" name="senha" class="form-control" placeholder="Digite uma senha " required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col col-sm-12 col-md-6 mb-3">
                        <label>Nome:</label>
                        <input type="text" name="name" class="form-control" placeholder="Digite seu nome " required>
                  </div>
                  
                  
                    <div class="col col-sm-12 col-md-6 mb-3">
                      <label>E-MAIL:</label>
                      <input type="email" name="email" class="form-control" placeholder="Digite seu e-mail" required>
                      
                    </div>
                </div>
                    <div class="form-row">
                    <div class="col col-sm-12 col-md-6 mb-3">
                      <label>CPF:</label>
                      <input type="text" name="cpf" class="form-control" maxlength="14" onkeydown='return SomenteNumero(event)' onkeypress="mascara()" placeholder="Digite seu CPF" required>
                      
                    </div>
                    <div class="col col-sm-12 col-md-6 mb-3">
                      <label>Telefone:</label>
                      <input type="text" name="telefone" class="form-control" maxlength="14" onkeydown='return SomenteNumero(event)' onkeypress="mascara()" placeholder="(XX)XXXX-XXXX" required>
                      
                    </div>
                  </div>
                  <center>
                  <button class="btn btn-lg btn-success btn-block col col-sm-12 col-md-6 col-lg-8" type="submit">Cadastrar</button>
                  </center>
    </form>
    

<div class="modal fade" id="exemplomodal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">Alerta</h4>
            </div>
            <div class="modal-body">
                O seu usuário ou email ou CPF ou telefone já estão registrados em nosso sistema, por favor verifique seus dados e troque seu nome de usuário.             </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
   
   


{% endblock %}